* {
    margin: 0 ;
    padding: 0;
}
body {
    background-color: #000;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;

}
.wrapper {
    width: 100vw;
    height: 100vh;
}
#card-wrapper {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border: 2px solid #ffffff30;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 450px;
    width: 370px;
    color: #ffffff;
    padding: 20px;
    border: 2px solid #ffffff30;
    border-radius: 15px;

}
img {
    border: 2px solid #ffffff30;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
h2 {
    font-size: 1.5rem;
    text-align: center;
}
h3 {
    color: #ffffff85;
    text-align: center;
}
.btn-share {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 9px 12px;
    background: #ffffff00;
    border: 2px solid #ffffffb9;
    text-transform: capitalize;
    border-radius: 4px;
    color: #ffffffb9;
    cursor: pointer;
}
.btn-follow {
    text-transform: capitalize;
    width: 150px;
    padding: 9px 12px;
    background: #ffffff00;
    border: 2px solid #ffffffb9;
    border-radius: 4px; 
    color: #ffffffb9;
    cursor: pointer;
    transition: all 0.5s;
}
#bottom-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.btn-card:hover {
    background: #ffffffb9;
    color: #131313;
}

/* lets make circle1 */
#circle1 {
    position:fixed;
    top: 5%;
    left: 30%;
    width: 13em;
    height: 13em;
    box-shadow: 0 0 50px #d84869;
    border-radius: 50%; /* this is imp code which makes the circle ,a circle  */
    background: linear-gradient(-25deg,#d84869,#f46641);
    animation: circle1Animate 15s infinite;
}

@keyframes circle1Animate {
    50% {
        top: 4%;
        left: 33%;
        scale: 1.1;
    }
    
}
#circle2 {
    position:absolute;
    bottom: 5%;
    right: 30%;
    width: 19em;
    height: 19em;
    box-shadow: 0 0 50px #5648d8;
    border-radius: 50%; /* this is imp code which makes the circle ,a circle  */
    background: linear-gradient(-25deg,#5648d8,#8641f4);
    animation: circle2animate 8s infinite;
}

@keyframes circle2animate {
    50% {
        bottom: 6%;
        right: 33%;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border: 2px solid #ffffff59;
    border-radius: 20px;
    color: white;
    z-index: 1;
    width: 500px;
    padding: 20px 25px;
}
.header {
    display: flex;
    margin-bottom: 25px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 12px;
}
.bottom-line {
    width: 100%;
    height: 10%;
    background-color: white;
}
#sharethis {
    display: flex;
    justify-content: center;
}
#share-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.icon {
    border-radius: 50%;
    border: 1px solid #ffffff88;
    padding: 15px;
    margin: 10px 0px;
    gap: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    text-decoration: none;


}

.header i {
    font-size: 30px;
    cursor: pointer;
}
.icon i {
    font-size: 27px;
}

